
<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Gallery Single</h2>
                    <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>

                    <a class="cta-btn" href="contact.html">Available for hire</a>

                </div>
            </div>
        </div>
    </div><!-- End Page Header -->
    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
        <div class="container">

            <div class="position-relative h-100">
                <div class="slides-1 portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="/assets/img/gallery/gallery-8.jpg" alt="">
                        </div>
                       @*  <div class="swiper-slide">
                            <img src="/assets/img/gallery/gallery-9.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/img/gallery/gallery-10.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/img/gallery/gallery-11.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/img/gallery/gallery-12.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/assets/img/gallery/gallery-13.jpg" alt="">
                        </div> *@

                    </div>
                  @*   <div class="swiper-pagination"></div> *@
                </div>
               @*  <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> *@

            </div>

            <div class="row justify-content-between gy-4 mt-4">

                <div class="col-lg-8">
                    <div class="portfolio-description">
                       @*  <h2>This is an example of portfolio detail</h2>
                        <p>
                            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                        </p>
                        <p>
                            Amet consequatur qui dolore veniam voluptatem voluptatem sit. Non aspernatur atque natus ut cum nam et. Praesentium error dolores rerum minus sequi quia veritatis eum. Eos et doloribus doloremque nesciunt molestiae laboriosam.
                        </p> *@

                        <div class="testimonial-item">
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                            <div>
                                <img src="/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                            </div>
                        </div>

                        @* <p>
                            Impedit ipsum quae et aliquid doloribus et voluptatem quasi. Perspiciatis occaecati earum et magnam animi. Quibusdam non qui ea vitae suscipit vitae sunt. Repudiandae incidunt cumque minus deserunt assumenda tempore. Delectus voluptas necessitatibus est.

                        <p>
                            Sunt voluptatum sapiente facilis quo odio aut ipsum repellat debitis. Molestiae et autem libero. Explicabo et quod necessitatibus similique quis dolor eum. Numquam eaque praesentium rem et qui nesciunt.
                        </p> *@

                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Danh mục</strong> <span>Thiên nhiên</span></li>
                            <li><strong>Tên</strong> <span>Pk</span></li>   
                            <li><strong>Ngày đăng</strong> <span>01/03/2022</span></li>
                            <li><strong>URL hình</strong> <a href="#">www.example.com</a></li>
                            @* <div class="dropdown">
                                <button class="dropbtn">Tải ảnh miễn phí</button>
                                <div class="dropdown-content">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                    <a href="#">Link 3</a>               
                                </div>
                            </div> *@
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tải xuống miễn phí
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a href="#" class="dropdown-item" style="display: inline-block; margin: 0;">
                                        <span style="color: black;">Lớn</span>
                                        <span style="color: gray;">1920x1680</span>
                                    </a>
                                    <a href="#" class="dropdown-item" style="display: inline-block; margin: 0;">
                                        <span style="color: black;">Trung bình</span>
                                        <span style="color: gray;">1280x853</span>
                                    </a>
                                    <div class="dropdown-item margin: 0;">
                                        @* <p class="dropdown-item" style="display: inline-block; margin: 0;"> *@
                                        <p>Kích thước tùy chọn</p>
                                        <input type="text" id="widthInput" style="width: 45%; display: inline-block;">
                                        <span style="color: black; display: inline-block;">x</span>
                                        <input type="text" id="heightInput" style="width: 45%; display: inline-block;">
                                        @* </p> *@
                                    </div>
                                    <div class="dropdown-divider"></div>

                                    <button type="button" class="btn btn-secondary btn-block" style="width: 100%;">Tải xuống kích thước đã chọn</button>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Gallery Single Section -->

</main><!-- End #main -->