@page
@using PrePics.Areas.Identity.Pages.Account
@model ForgotPasswordModel
@{
    Layout = "_Layout";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        body {
            font-family: "Inter";
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 60vh;
        }

            .main .content {
                margin: auto;
            }

        .btn {
            font-size: 14px;
            border-radius: 2px;
            line-height: 1.5;
            padding: 5px 10px;
            transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
            border: 2px solid #dee1e2;
            color: rgb(14, 14, 16);
            background: #dee1e2;
            display: block;
            height: 36px;
            width: 95%;
        }

            .btn:hover {
                border-color: #ccc;
            }

            .btn:focus {
                border-color: #9147ff;
                background: #fff;
            }

        .btn {
            width: 95%;
            margin-top: 15px;
        }

        .btn-lg {
            display: inline-block;
            outline: none;
            cursor: pointer;
            font-weight: 600;
            border-radius: 3px;
            padding: 12px 24px;
            border: 0;
            color: #fff;
            background: #1de9b6;
            line-height: 1.15;
            font-size: 16px;
            width: 100%;
            margin-top: 10px;
        }


            .btn-lg:hover {
                transition: all .1s ease;
                box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
            }
    </style>
</head>
<body>
    <div class="main">
        <div class="content">
            <h1 style="color: #5b46ca;">Reset your password</h1>
            <p style="color: #b3b3b5;">Nhập email của bạn, Furni sẽ hướng dẫn bạn thiết lập lại mật khẩu.</p>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control btn" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn-lg ">Reset Password</button>
                <p>Go back @Html.ActionLink("Login", "Login", "Account")</p>
            </form>
        </div>
    </div>
</body>
</html>




@* <h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
