@page
@using PrePics.Areas.Identity.Pages.Account
@model LoginModel


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/sigin.css" />
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <div class="main-login">
                <h1 style="background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); background-clip: text; color: transparent;">Đăng nhập</h1>
                @{
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div>
                            <p>

                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    string btnClass = "";
                                    string iconClass = "";

                                    if (provider.Name.Equals("Google", StringComparison.OrdinalIgnoreCase))
                                    {
                                        btnClass = "social-google";
                                        iconClass = "fab fa-google-plus-g";
                                    }
                                    else if (provider.Name.Equals("Facebook", StringComparison.OrdinalIgnoreCase))
                                    {
                                        btnClass = "social-facebook";
                                        iconClass = "fab fa-facebook-f";
                                    }

                                    <button type="submit" class="@btnClass social" name="provider" value="@provider.Name"><i class="@iconClass"></i></button>
                                }
                            </p>
                        </div>
                    </form>
                }
                <form id="account" method="post">
                    <div class="social-container">
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input class="email" type="email" asp-for="Input.Email" placeholder="Email" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>

                    <input asp-for="Input.Password" type="password" placeholder="Password" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>

                    <a id="forgot-password" asp-page="./ForgotPassword" style="color: #7777e0;">Forgot your password?</a>
                    <button id="login-submit" type="submit" class="btn">Log in</button>
                </form>
            </div>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>
                        To keep connected with us please login with your personal info
                    </p>
                    <button class="btn ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin Chào!</h1>
                    <p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình cùng chúng tôi</p>
                    <a class="btn ghost" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
       @*  <p>
            Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://github.com/dattv23">Truong Van Dat</a>
        </p> *@
    </footer>
    <script src="https://kit.fontawesome.com/4cba97720e.js"
            crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init"
            async
            defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
